body{
  background-color: black;
}





#line1{
  float: left;
  padding-top: 50px;
  padding-bottom: 40px;
}

#line3{
  float: left;
  padding-top: 50px;
  padding-bottom: 40px;
}

#line5{
  float: left;
  padding-top: 50px;
  padding-bottom: 40px;
}

#line2 {
  float: right;
  padding-top: 50px;
  padding-bottom: 40px;
}


#line4 {
  float: right;
  padding-top: 50px;
  padding-bottom: 40px;
}

#line6 {
  float: right;
  padding-top: 50px;
  padding-bottom: 40px;
}

#line7 {
  float: left;
  padding-top: 50px;
  padding-bottom: 40px;
}


div {
  opacity:0;
  transition:opacity 1s linear;*
}
div:hover {
  opacity:1;
}


p{
  font-family: "Futura", sans-serif;
    font-size: 45px;
    color: white;
    letter-spacing: .2px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 23px;
}
